h2 {
    font-size: 30px;
    color: #2E2E2E;
}

.welcomeText {
    font-size: 18px;
    color: rgba(106, 108, 111, 1);
}

.inputEmail {
    margin-top: 30px;
    margin-bottom: 38px;
}

.inputPass {
    margin-bottom: 25px;
}

.forgot1 {
    font-size: 16px;
    margin-bottom: 42px;
}

.loginBtn {
    height: 51px;
    width: 379px;
   
    border: none;
    transition: 400ms;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
}

.loginBtn:hover {
    background: rgba(182, 17, 253, 1);
}