.links {
    /* background: #A435F0; */
    color: gray;
}

.links ::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background: #F68989;
    background: -moz-linear-gradient(left, #F68989 0%, #874356 100%);
    background: -webkit-linear-gradient(left, #F68989 0%, #874356 100%);
    background: linear-gradient(to right, #F68989 0%, #874356 100%);
    transition: 1000ms;
    margin: 10px auto;
}

/* במעבר עכבר יציג את הקו מתחת ללינק */
.links :hover::after {
    width: 100%;
}
