.imgFoodInfo {
    width: 300px;
    height: 230px;
    justify-content: center;
    margin: 0 auto;
    object-fit: cover
}

.hr {
    width: 54px;
    border: 0.5px solid #A7A7A7;
    transform: rotate(90deg);
}

.likesDiv {
    background: white;
    border-radius: 17.75px;
    height: 35px;
    padding: 0 15px;
    position: absolute;
    left: 0;
    bottom: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:991px) {
    .imgFoodInfo {
        width: 220px;

    }

    .hr {
        width: 30px;
    }
}

@media (max-width:768px) {
    .imgFoodInfo {
        width: 100%;
        height: 300px;
    }

    .hr {
        width: 30px;
    }
}