.mainAddFood {
    width: 540px;
    min-height: 232.23px;
}


.addPhotoDiv {
    width: 100%;
    min-height: 232px;
    background: rgba(165, 53, 240, 0.094);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px
}


.navButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 730px;
    min-height: 56px;
    position: sticky ;
    top: 0;
    left: 0;
    z-index: 9999;
    background:rgba(255, 255, 255, 1) ;

}


@media (max-width:768px) {
    .mainAddFood {
        width: 100%;
    }

    .navButtons {
        width: 100%;
    }

}