.imgPost {
    height: 315px;
    width: 306px;
    border-radius: 9.0524px;
    margin-bottom: 32px;
    margin-right: 10px;
    margin-left: 10px;

}

.imgFoodPost {
    border-radius: 9.0524px;   
     height: 315px;
     width: 306px;
     cursor: pointer;
     object-fit: cover
}

.lightDiv {
    opacity: 60%;
    border-radius: 9.0524px 9.0524px 0px 0px;
}

img:hover+.eyeBTN {
    display: flex;
    color: black;
}

.eyeBTN:hover {
    display: flex;
    color: black;
}


.divCount {
    min-height: 100px;
    width: 100px;
    background: #a535f01d;
    /* background: rgba(237, 237, 237, 1); */
    border-radius: 11.0576px;
}



@media (max-width:768px) {
    .img {
        height: 250px;
    }

    .imgPost {
        min-height: 100%;
        width: 370px;
    }

    .divCount {
        min-height: 60px;
    }


}