body {
    font-family: 'Rubik', sans-serif;
}

.purple {
    color: #A435F0;
}

/* .purplegsd {
    color: #8129bc;
}

.purpleggfdsd {
    color: #912CD6
} */

.dark {
    color: #2E2E2E;
}

.gray {
    color: rgba(106, 108, 111, 1);

}

.s30 {
    font-size: 26px;
}

.s18 {
    font-size: 18px;
}

.s16 {
    font-size: 16px;
}

.s14 {
    font-size: 14px;
}

.s12 {
    font-size: 12px;
}